{% extends 'base.html.twig' %}
{% block title %}Ajouter ticket{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/" class="btn btn-outline-secondary">Retour</a>
{% endblock %}